@import 'styles/colors';

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%; 
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	width: 100%;
	height: 100%;
}

.header {
	padding: 2rem 0 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 4px solid $neutral;
	width: 100%;
	height: 5rem;

	.rightSide {
		width: fit-content; 	
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.leftSide {
		width: fit-content; 	
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		font-weight: bold;
		font-size: 24pt;
		text-decoration: none;
		color: $neutral; 
		margin-right: 2rem; 
	}

}

.headerSignIn {
	height: 5rem;
}

.main {
	flex: 1;
	height: 100%;
	width: 100%;
}

.icon {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: 3px solid $neutral;
	margin: 0 2rem;
}

.logoText {
	font-weight: bold; 
	font-size: 24pt;
}
